<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Garments</title>
</head>
<body>
    <h1>Add a Garment</h1>
    <form action="/garments" method="POST">
        <label for="name">Garment Name: </label>
        <input type="text" name="name" id="name"><br>
        <label for="location">Location: </label>
        <input type="text" name="location" id="location"><br>
        <label for="contact">Contact: </label>
        <input type="text" name="contact" id="contact"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>